<%= form_with(model: jam) do |form| %>
  <% if jam.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jam.errors.count, "error") %> prohibited this jam from being saved:</h2>

      <ul>
        <% jam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
